<xf:title>{{ phrase('laneros_portal_stick_featured:') }} {{ prefix('thread', $thread, 'escaped') }}{$thread.title}</xf:title>
<xf:h1>{{ phrase('laneros_portal_stick_featured:') }} {{ prefix('thread', $thread) }}{$thread.title}</xf:h1>

<xf:breadcrumb source="$thread.getBreadcrumbs()" />

<xf:form action="{{ link('threads/featured-stick', $thread) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body js-prefixListenContainer">
			<xf:selectrow name="featured_sticky" value="{$thread.FeaturedThread.sticky}"
				label="{{ phrase('laneros_portal_stick_featured') }}">

					<xf:option value="0">
						{{ phrase('no') }}
					</xf:option>
					<xf:option value="1">
						{{ phrase('sticky') }}
					</xf:option>
					<xf:option value="2">
						{{ phrase('laneros_portal_sticky_and_featured') }}
					</xf:option>
			</xf:selectrow>
		</div>
		<xf:submitrow icon="save" sticky="true" />
	</div>
</xf:form>