<xf:h1 hidden="true" />

<xf:css src="laneros_portal_view.less" />

<xf:js src="Laneros/Portal/node_modules/muuri/dist/muuri.js" min="1" addon="Laneros/Portal" />

<xf:js>
	(function () {
		var grid = new Muuri('.p-body-pageContent', {
			items: '.block',
			layout: {
				fillGaps: true,
			},
			layoutDuration: 0,
			layoutOnResize: 0,

		});
	
		jQuery(window).on("load", function() {
			grid.refreshItems();
			grid.layout(true);
		});
	})();
</xf:js>

<xf:widgetpos id="laneros_portal_view_sidebar" position="sidebar" />

<xf:if is="$featuredThreads is not empty">
	<xf:foreach loop="$featuredThreads" value="$featuredThread">
		<xf:macro name="thread_block"
			arg-thread="{$featuredThread.Thread}"
			arg-post="{$featuredThread.Thread.FirstPost}"
			arg-featuredThread="{$featuredThread}"
			arg-portalImages="{$portalImages}"
		/>
	</xf:foreach>

	<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="portal" wrapperclass="block portal-page-nav" />
<xf:else />
	<div class="blockMessage">No threads have been featured yet.</div>
</xf:if>

<xf:macro name="thread_block" arg-thread="!" arg-post="!" arg-featuredThread="!" arg-portalImages="!">
	<xf:css src="message.less" />

	<div class="block <xf:if is="$featuredThread.sticky == 2">sticky</xf:if>">
		<div class="block-container" data-xf-init="lightbox">
			<xf:if contentcheck="true">
			<div class="block-minorHeader">
				<xf:contentcheck>{{ prefix_class('thread', $thread) }}</xf:contentcheck>
			</div>
			</xf:if>
			<a href="{{ link('threads', $thread) }}">
				<h4 class="block-header"><xf:if is="$featuredThread.featured_title is empty">{$thread.title}<xf:else />{$featuredThread.featured_title}</xf:if></h4>
				<xf:if contentcheck="true">
					<img src="<xf:contentcheck>{$portalImages.{$thread.thread_id}}</xf:contentcheck>" alt="{$thread.title}">
				</xf:if>
			</a>
			<div class="block-body">
				<xf:macro name="message"
					arg-post="{$post}"
					arg-thread="{$thread}"
					arg-featuredThread="{$featuredThread}"
				/>
			</div>
			<div class="block-footer">
				{{ phrase('by_user_x', {'name': $thread.username}) }}

				<xf:if is="$xf.options.lanerosPortalDefaultSort == 'featured_date'">
					<xf:date time="{$featuredThread.featured_date}" />
				<xf:else />
					<xf:date time="{$thread.post_date}" />
				</xf:if>
				
				<xf:if contentcheck="true">
				<span class="block-footer-controls">
					<a data-xf-click="menu">
						<xf:fa icon="fa-cog"/>
					</a>
					<div class="menu" data-menu="menu" aria-hidden="true">
						<div class="menu-content">
							<h3 class="menu-header">{{ phrase('laneros_portal_article_tools') }}</h3>
							<xf:contentcheck>
							<xf:if is="$thread.canEdit()">
								<a href="{{ link('threads/edit', $thread) }}" class="menu-linkRow" data-xf-click="overlay">{{ phrase('laneros_portal_edit_article') }}</a>
							</xf:if>
							<xf:if is="$thread.canFeatureUnfeature()">
								<a href="{{ link('threads/featured-stick', $thread) }}" class="menu-linkRow" data-xf-click="overlay">{{ phrase('laneros_portal_stick_article') }}</a>
							</xf:if>
							</xf:contentcheck>
						</div>
					</div>
				</span>
				</xf:if>
			</div>
		</div>
	</div>
</xf:macro>

<xf:macro name="message" arg-post="!" arg-thread="!" arg-featuredThread="!">
	<div class="message message--post message--simple">
		<div class="message-inner">
			<div class="message-cell message-cell--main">
				<div class="message-content js-messageContent">
					<div class="message-userContent lbContainer js-lbContainer"
						 data-lb-id="post-{$post.post_id}"
						 data-lb-caption-desc="{{ $post.User ? $post.User.username : $post.username }} &middot; {{ date_time($post.post_date) }}"
					>
						<blockquote class="message-body">
							<xf:if is="$xf.options.lanerosPortalSnippet.length > 0">
								{{ bb_code_snippet($post.message, 'post', $post, {$xf.options.lanerosPortalSnippet.length}, {
									'attachments': $post.attach_count ? $post.Attachments : [],
									'viewAttachments': $thread.canViewAttachments()
								}) }}
							<xf:else />
								{{ bb_code($post.message, 'post', $post.User, {
									'attachments': $post.attach_count ? $post.Attachments : [],
									'viewAttachments': $thread.canViewAttachments()
								}) }}
							</xf:if>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</xf:macro>