<xf:css src="laneros_portal_view.less" />

<xf:js src="Laneros/Portal/node_modules/muuri/dist/muuri.js" min="1" addon="Laneros/Portal" />

<xf:js>
	(function () {
		var grid = new Muuri('.p-body-pageContent', {
			items: '.block',
			layout: {
				fillGaps: true,
			},
			layoutDuration: 0
		});
	
		jQuery(window).on("load", function() {
			grid.refreshItems();
			grid.layout(true);
		});
	})();
</xf:js>

<xf:h1>{$xf.options.boardTitle}</xf:h1>

<xf:widgetpos id="laneros_portal_view_sidebar" position="sidebar" />

<xf:if is="$featuredThreads is not empty">
	<xf:foreach loop="$featuredThreads" value="$featuredThread">
		<xf:macro name="thread_block"
			arg-thread="{$featuredThread.Thread}"
			arg-post="{$featuredThread.Thread.FirstPost}"
			arg-featuredThread="{$featuredThread}"
			arg-portalImages="{$portalImages}"
		/>
	</xf:foreach>

	<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" link="portal" wrapperclass="block" />
<xf:else />
	<div class="blockMessage">No threads have been featured yet.</div>
</xf:if>

<xf:macro name="thread_block" arg-thread="!" arg-post="!" arg-featuredThread="!" arg-portalImages="!">
	<xf:css src="message.less" />

	<div class="block">
		<div class="block-container" data-xf-init="lightbox">
			<a href="{{ link('threads', $thread) }}">
				<h4 class="block-header">{$thread.title}</h4>
				<xf:if contentcheck="true">
					<img src="<xf:contentcheck>{$portalImages.{$thread.thread_id}}</xf:contentcheck>" alt="{$thread.title}">
				</xf:if>
			</a>
			<div class="block-body">
				<xf:macro name="message"
					arg-post="{$post}"
					arg-thread="{$thread}"
					arg-featuredThread="{$featuredThread}"
				/>
			</div>
			<div class="block-footer">
				{{ phrase('by_user_x', {'name': $thread.username}) }}

				<xf:if is="$xf.options.lanerosPortalDefaultSort == 'featured_date'">
					<xf:date time="{$featuredThread.featured_date}" />
				<xf:else />
					<xf:date time="{$thread.post_date}" />
				</xf:if>
			</div>
		</div>
	</div>
</xf:macro>

<xf:macro name="message" arg-post="!" arg-thread="!" arg-featuredThread="!">
	<div class="message message--post message--simple">
		<div class="message-inner">
			<div class="message-cell message-cell--main">
				<div class="message-content js-messageContent">
					<div class="message-userContent lbContainer js-lbContainer"
						 data-lb-id="post-{$post.post_id}"
						 data-lb-caption-desc="{{ $post.User ? $post.User.username : $post.username }} &middot; {{ date_time($post.post_date) }}"
					>
						<blockquote class="message-body">
							<xf:if is="$xf.options.lanerosPortalSnippet.length > 0">
								{{ bb_code_snippet($post.message, 'post', $post, {$xf.options.lanerosPortalSnippet.length}, {
									'attachments': $post.attach_count ? $post.Attachments : [],
									'viewAttachments': $thread.canViewAttachments()
								}) }}
							<xf:else />
								{{ bb_code($post.message, 'post', $post.User, {
									'attachments': $post.attach_count ? $post.Attachments : [],
									'viewAttachments': $thread.canViewAttachments()
								}) }}
							</xf:if>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</xf:macro>